@font-face {
  font-family: Insignia;
  src: url('layout/_fontes/InsigniaSanofi.otf');
}

@font-face {
  font-family: Pixel;
  src: url('layout/_fontes/small_pixel.ttf');
}


body {
  font-family: Insignia, sans-serif;
}

.rodape {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #262626;
  width: 100vw;
  height: 100px;
  position: fixed;
  bottom: 0;
  padding: 4em 0;
}

.texto-rodape {
  color: #FFFFFF;
  width: 40vw;
  text-align: center;
}

.lista-redes-sociais {
  display: flex;
  flex-wrap: wrap;
}

.lista-redes-sociais li img {
  width: 50px;
  height: 50px;
  margin: .3em;
}

.imagem-byte,
.lista-redes-sociais {
  width: 125px;
  height: 125px;
}